# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wh40k_bot
DB_USER=postgres
DB_PASSWORD=sororitas

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Список Telegram ID админов (через запятую)
# Узнать свой ID можно у @userinfobot
ADMIN_IDS=


TIMEZONE_OFFSET=10
