# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# UV
.python-version

# Type checking
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/


# Docker
*.log

docker-compose.override.yml
